<div class="card shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col fw-bold">
        <%= @computer.name %>
      </div>
      <div class="col">
        ACCOUNT: <i><%= @computer.account.name %></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto text-primary">
              Manufacturer :
            </div>
            <div class="col">
              <%= @computer.manufacturer %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              Make :
            </div>
            <div class="col">
              <%= @computer.make %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              Model :
            </div>
            <div class="col">
              <%= @computer.model %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              CPU :
            </div>
            <div class="col">
              <%= @computer.cpu %>
            </div>
          </div>
        </div>
        <div class="col">                  
          <div class="row">
            <div class="col-auto text-primary">
              OS :
            </div>
            <div class="col">
              <%= @computer.operating_system %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              Serial # :
            </div>
            <div class="col">
              <%= @computer.serial_number %>
            </div>
          </div>      
          <div class="row">
            <div class="col-auto text-primary">
              MB Serial # :
            </div>
            <div class="col">
              <%= @computer.mb_serial_number %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
               Key :
            </div>
            <div class="col">
              <%= @computer.key %>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
       <%= render "form", computer: @computer %>
      </div>
    </p>

    <div class="btn-group">
      <%= link_to computer_path(@computer), class: "btn btn-sm btn-outline-dark" do %>
        <i class="bi bi-arrow-left-circle pe-1"></i><%= "View #{@computer.name}"%>
      <% end %>
      <%= link_to computers_path, class: "btn btn-sm btn-outline-dark" do %>
        <i class="bi bi-arrow-left-circle pe-1"></i>Back to Computers
      <% end %>
    </div>
  </div>
</div>