<h1>Computers</h1>
<%= link_to "Download Computer Client", "/client_app/hkeeper.zip", class: "btn btn-sm btn-outline-dark" %>


<div id="computers">
  <table class="table table-striped">

    <thead>
      <th>Account</th>
      <th>Computer Name</th>
      <th></th>
    </thead>

    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.account.name %></td>
        <td><%= computer.name %></td>
        <td>
          <div class="btn-group">
            <%= link_to "View", computer_path(computer), class: "btn btn-sm btn-outline-dark" %>
            <% # if policy(:domain).edit? %>
              <% # = link_to "Edit", edit_computer_path(computer), class: "btn btn-sm btn-outline-dark" %>
            <% # end %>
            <% if policy(:computer).destroy? %>
              <%= button_to "Delete", computer_path(computer), method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>

