<div class="card shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col fw-bold">
        <%= @computer.name %>
      </div>
      <div class="col">
        ACCOUNT: <i><%= @computer.account.name %></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-auto text-primary">
              Manufacturer : 
            </div>
            <div class="col">
              <%= @computer.manufacturer %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              Make : 
            </div>
            <div class="col">
              <%= @computer.make %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              Model : 
            </div>
            <div class="col">
              <%= @computer.model %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              CPU : 
            </div>
            <div class="col">
              <%= @computer.cpu %>
            </div>
          </div>
        </div>
        <div class="col">                  
          <div class="row">
            <div class="col-auto text-primary">
              OS : 
            </div>
            <div class="col">
              <%= @computer.operating_system %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
              Serial # : 
            </div>
            <div class="col">
              <%= @computer.serial_number %>
            </div>
          </div>      
          <div class="row">
            <div class="col-auto text-primary">
              MB Serial # : 
            </div>
            <div class="col">
              <%= @computer.mb_serial_number %>
            </div>
          </div>
          <div class="row">
            <div class="col-auto text-primary">
               Key : 
            </div>
            <div class="col">
              <%= @computer.key %>
            </div>
          </div>
        </div>
      </div>
      <% if policy(:computer).edit? %>
        <div class="card pt-2">
          <div class="card-body pt-1 ps-1">
            <h5 class="card-title">Notes</h5>
            <p class="card-text" style="white-space: pre-wrap;"><%= @computer.notes %></p>
            <div class="btn-group pt-1 ps-1">
              <%= link_to edit_computer_path(@computer), class: "btn btn-sm btn-outline-dark" do %>
                <i class="bi bi-pencil-square pe-1"></i>Edit Notes
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </p>
    <hr>
    <div class="row">
      <div class="col text-dark">
        <h5>Jobs</h5>
      </div>
      <div class="col">
        <div class="btn-group">
        <% if policy(:job).create? %>
          <%= link_to new_computer_job_path(@computer), class: "btn btn-sm btn-outline-dark" do %>
            <i class="bi bi-plus-circle pe-1"></i>New Job
          <% end %>
        <% end %>
          <%= link_to computers_path, class: "btn btn-sm btn-outline-dark" do %>
            <i class="bi bi-arrow-left-circle pe-1"></i>Back to Computers
          <% end %>
          <% if policy(:computer).destroy? %>
            <%= button_to computer_path(@computer), method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
              <i class="bi bi-trash pe-1"></i>Delete Computer
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <table class="table table-sm table-striped">
      <thead class="table-dark">
        <th>Status</th>
        <th>Action</th>
        <th>Next Run</th>
        <th>Freq</th>
        <th></th>
      </thead>
      <% @jobs.order(:execute_after).reverse_order.each do |job| %>
        <tr>
          <td><%= job.status %></td>
          <td><%= job.get_action %></td>
          <td><%= job.execute_after.strftime('%b %d %Y') unless job.execute_after.nil? %></td>
          <td><%= job.days_to_recur %></td>
          <td>
            <div class="btn-group">
              <%= link_to job_path(job), class: "btn btn-sm btn-outline-dark" do %>
                <i class="bi bi-folder-symlink pe-1"></i>View
              <% end %>
              <% if policy(:job).edit? %>
                <%= link_to edit_job_path(job), class: "btn btn-sm btn-outline-dark" do %>
                  <i class="bi bi-pencil pe-1"></i>Edit
                <% end %>
              <% end %>
              <% if policy(:job).destroy? %>
                <%= button_to job_path(job), method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                  <i class="bi bi-trash pe-1"></i>Delete
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

    <% if @pagy.pages > 1 %>
      <div class="d-flex justify-content-center">
        <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
      </div>
    <% end %>
  </div>
</div>