<div class="card shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <%= @computer.name %>
      </div>
      <div class="col">
        ACCOUNT: <i><%= @computer.account.name %></i>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= @job.status %>
      <%= @job.action %>
    </p>
    <hr>
    <div class="row">
      <div class="col">
        <h5>Job Events</h5>
      </div>
      <div class="col">
        <div class="btn-group">
          <%= link_to "Back to #{@computer.name}", computer_path(@computer), class: "btn btn-sm btn-outline-dark" %>
          <%= link_to "Back to Computers", computers_path, class: "btn btn-sm btn-outline-dark" %>
        </div>
      </div>
    </div>
      <table class="table">
        <thead>
          <th>Date</th>
          <th>Status</th>
          <th>Notes</th>
        </thead>
        <% @events.order(:created_at).reverse_order.each do |event| %>
          <tr>
            <td><%= event.created_at.strftime("%m/%d/%Y %l:%M %p") %></td>
            <td><%= event.get_status %></td>
            <td><%= event.notes %></td>
          </tr>
        <% end %>
      </table>
    <% if @pagy.pages > 1 %>
      <div class="d-flex justify-content-center">
        <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
      </div>
    <% end %>

  </div>
</div>