<div class="card shadow-sm">
  <div class="card-header">
    <div class="row">
      <div class="col fw-bold">
        <%= @computer.name %>
      </div>
      <div class="col">
        ACCOUNT: <i><%= @computer.account.name %></i>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-auto text-primary">
        Status :
      </div>
      <div class="col">
        <%= @job.status %>
      </div>
      <div class="col-auto text-primary">
        Action : 
      </div>
      <div class="col">
        <%= @job.get_action %>
      </div>
    </div>
    <div class="row">
      <div class="col-auto text-primary">
        Days to Recur :
      </div>
      <div class="col">
        <%= @job.days_to_recur %>
      </div>
      <div class="col-auto text-primary">
        Execute After : 
      </div>
      <div class="col">
        <%= @job.execute_after.strftime('%b %d %Y') unless @job.execute_after.nil? %>
      </div>
    </div>

    <div class="card">
      <div class="card-body pt-1 ps-1">
        <h5 class="card-title">Notes</h5>
        <p class="card-text" style="white-space: pre-wrap;"><%= @job.notes %></p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col">
        <h5>Job Events</h5>
      </div>
      <div class="col">
        <div class="btn-group">
          <%= link_to computer_path(@computer), class: "btn btn-sm btn-outline-dark" do %>
            <i class="bi bi-arrow-left-circle pe-1"></i><%= "Back to #{@computer.name}"%>
          <% end %>
          <%= link_to computers_path, class: "btn btn-sm btn-outline-dark" do %>
            <i class="bi bi-arrow-left-circle pe-1"></i>Back to Computers
          <% end %>
        </div>
      </div>
    </div>
    <table class="table table-sm table-striped">
      <thead class="table-dark">
        <th>Date</th>
        <th>Status</th>
        <th>Notes</th>
      </thead>
      <% @events.order(:created_at).reverse_order.each do |event| %>
        <tr>
          <td><%= event.created_at.strftime("%m/%d/%Y %l:%M %p") %></td>
          <td><%= event.get_status %></td>
          <td><%= event.notes %></td>
        </tr>
      <% end %>
    </table>

    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      <%#== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
    </div> 

  </div>
</div>