<%= form_with model: unifi_site, :data => {:turbo => "false"} do |f| %>
  <%= render 'shared/error_messages', resource: unifi_site %>

  <div class="field form-group pb-1">
    <%= f.label "Account" %>
      <%= f.collection_select :account_id, @accounts, :id, :name,  
        {}, {class: "form-select"}  %>
  </div>
  <div class="field form-group pb-1">
    <%= f.label "Site Name" %><br />
    <%= f.text_field :name, placeholder: "Site Name", class: "form-control" %>
  </div>
  <div class="field form-group pb-1">
    <%= f.label "Hosting Fee" %><br />
    <%= f.text_field :hosting_fee, class: "form-control form-control-sm" %>
  </div> 
  <div class="field form-group">
    <%= f.label "Notes" %><br />
    <%= f.text_area :notes, class: "form-control", rows: 8 %>
  </div>  
  <div class="actions pt-2">
    <%= f.button class: "btn btn-sm btn-outline-dark" do %>
      <i class="bi bi-save pe-1"></i>Save
    <% end %>  
  </div>

<% end %>
