<table class="table table-borderless">
  <tr>
    <td>
      <div class="card">
        <div class="card-header">
          Invoice to:
        </div>
        <div class="card-body">
          <div>
            <span class="align-middle"><%= @statement.account.name %></span>
          </div>
          <div>
            <div class="my-1">
              <%= @biller.address_line_1 %><br>
              <%= @biller.address_line_2 %>
            </div>
            <div class="my-1">
              <%= "#{@biller.city}, #{@biller.state} #{@biller.zip}"  %>
            </div>
            <div class="my-1">
              <i class="bi bi-envelope text-primary"></i> <%= @biller.email %>
            </div>
          </div>
        </div>
      </div>  
    </td>
    <td>
      <div class="col-sm-12 d-sm-flex justify-content-end pe-2">
        <div class="text-dark">
          <div class="fs-4 my-1"> <span class="fw-bold text-primary">Invoice #:</span>
            <%= @statement.invoice_number %>
          </div>
          <div class="my-1">
            <span class="fw-bold">Date:</span> <%= @statement.created_at.strftime(" %m/%d/%Y") %>
          </div>
          <div class="my-1">
            <span class="fw-bold">Due Date:</span> <%= (@statement.created_at + (@statement.terms).days).strftime(" %m/%d/%Y") %>
          </div>
          <div class="my-1">
            <span class="fw-bold">Status:</span> 
            <span class="badge bg-<%= "#{@statement.status == 'paid' ? 'info' : 'warning'}" %> px-25"><%= @statement.status %></span>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
