<%= form_with model: computer_billing, url: post_url, :data => {:turbo => "false"} do |f| %>

  <%= render 'shared/error_messages', resource: computer_billing %>

  <div class="field form-group pb-1">
    <%= f.label "Cost per Computer (monthly)" %><br />
    <%= f.text_field :cost_per_computer, class: "form-control form-control-sm" %>
  </div> 

  <div class="actions pt-2">
    <%= f.button class: "btn btn-sm btn-outline-dark" do %>
      <i class="bi bi-save pe-1"></i>Save
    <% end %>  
  </div>

<% end %>
