<%= turbo_frame_tag domain do %>
  <div class="row pt-1 <%= index.odd? ? "tb-bg-dark" : "tb-bg-light" %>">
    <div class="col text-nowrap">
      <%= domain.account.name %>
    </div>
    <div class="col text-nowrap">
      <%= domain.name %>
    </div>
    <div class="col text-nowrap">
      <%= domain.expires_on.strftime("%m/%d/%Y") %>
    </div>
    <div class="col">
      <div class="btn-group">
        <%= button_to domain, params: {page: page}, method: :get, class: "btn btn-sm btn-outline-dark" do %>
          <i class="bi bi-caret-left-fill pe-1"></i>
        <% end %>
        <% if policy(:domain).edit? %>
          <%= link_to edit_domain_path(domain, page: page, index: index), class: "btn btn-sm btn-outline-dark" do %>
            <i class="bi bi-pencil pe-1"></i>
          <% end %>
        <% end %>
        <% if policy(:domain).destroy? %>
          <%# if @pagy.pages > 1 %>
            <%= button_to domain, params: {page: page}, method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_frame: "filter_results", turbo_confirm: 'Are you sure?'}} do %>
              <i class="bi bi-trash pe-1"></i>
            <% end %>
          <%# else %>
            <%#= button_to domain, method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_frame: "filter_results", turbo_confirm: 'Are you sure?'}} do %>
              <%# <i class="bi bi-trash pe-1"></i> %>
            <%# end %>
          <%# end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>    
