<%# :data => {:turbo => "false"} %>
<%= form_with model: domain do |f| %>
  <%= render 'shared/error_messages', resource: domain %>

  <div class="field form-group pb-1">
    <%= f.label "Account" %>
      <%= f.collection_select :account_id, @accounts, :id, :name,  
        {}, {class: "form-select"}  %>
  </div>
  <div class="field form-group pb-1">
    <%= f.label "Domain Name" %><br />
    <%= f.text_field :name, placeholder: "Domain Name", class: "form-control" %>
  </div>
  <div class="field form-group pb-1">
    <%= f.label "Expires on" %><br />
    <%= f.date_field :expires_on, class: "form-control" %>
  </div> 
  <div class="row ps-3 pb-1">
    <div class="col">
      <div class="row">
        <div class="col-auto pt-2">
          <div class="form-check form-switch">
            <%= f.check_box :web_hosting, class: "form-check-input", id: "flexSwitchCheckweb" %>
            <%= f.label :web_hosting,  class: "form-check-label", for: "flexSwitchCheckweb" %>        
          </div>
          <div class="form-check form-switch">
            <%= f.check_box :email_hosting, class: "form-check-input", id: "flexSwitchCheckemail" %>
            <%= f.label :email_hosting,  class: "form-check-label", for: "flexSwitchCheckemail" %>        
          </div>
        </div>
        <div class="col">
          <div class="field form-group">
            <%= f.label "Hosting Fee" %><br />
            <%= f.text_field :hosting_fee, class: "form-control form-control-sm" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-auto pt-4">
          <div class="form-check form-switch">
            <%= f.check_box :registration, class: "form-check-input", id: "flexSwitchCheckReg" %>
            <%= f.label :registration,  class: "form-check-label", for: "flexSwitchCheckReg" %>        
          </div>
        </div>
        <div class="col">
          <div class="field form-group">
            <%= f.label "Registration Fee" %><br />
            <%= f.text_field :registration_fee, class: "form-control form-control-sm" %>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <div class="field form-group">
    <%= f.label "Notes" %><br />
    <%= f.text_area :notes, class: "form-control", rows: 8 %>
  </div>  
  <div class="actions pt-2">
    <%= f.button class: "btn btn-sm btn-outline-dark" do %>
      <i class="bi bi-save pe-1"></i>Save
    <% end %>  
  </div>

<% end %>
