
<div class="row">
  <div class="col">
    <h1>Domains</h1>
  </div>
  <div class="col-auto">
    <% if policy(:domain).new? %>
      <%= link_to "New domain", new_domain_path, class: "btn btn-sm btn-outline-dark" %>
    <% end %>
  </div>
</div>

<div id="domains">
  <table class="table table-striped">
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.account.name %></td>
        <td><%= domain.name %></td>
        <td><%= domain.expires_on.strftime("Expires on %m/%d/%Y")  %></td>
        <td>
          <div class="btn-group">

            <%= link_to "Show", domain, class: "btn btn-sm btn-outline-dark" %>
            <% if policy(:domain).edit? %>
              <%= link_to "Edit", edit_domain_path(domain), class: "btn btn-sm btn-outline-dark" %>
            <% end %>
            <% if policy(:domain).destroy? %>
              <%= button_to "Delete", domain, method: :delete, class: "btn btn-sm btn-outline-dark", form: {data: {turbo_confirm: 'Are you sure?'}} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
