<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <div class="row">
        <div class="col">
          <h3><%= @account.name %> Users </h3>
        </div>
        <div class="col text-end">
          <% if policy(:account).new? %>
            <%= link_to account_roles_new_path(@account), class: "btn btn-sm btn-outline-dark" do %>
              <i class="bi bi-plus-circle pe-1"></i>Add User
            <% end %>
          <% end %>
        </div>
      </div>

      <table class="table table-sm table-striped">
        <thead class="table-secondary">
          <tr>
            <th scope="col">Email</th>

            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @account.managers.each do |user| %>
            <tr>
              <td><%= user.email %></td>
              <td>
                <% if policy(:account).destroy? %>
                  <%= button_to account_role_removal_path(@account, user.id), method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                    <i class="bi bi-trash pe-1"></i>Remove
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="btn-group">
        <%= link_to accounts_path, class: "btn btn-sm btn-outline-dark" do %>
          <i class="bi bi-arrow-left-circle pe-1"></i>Back to accounts
        <% end %>
      </div>

    </div>
  </div>
</div>