<h3><%= @account.name %> Users</h3>
<%= link_to "Add User", account_roles_new_path(@account), class: "btn btn-sm btn-outline-dark" %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @account.managers.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.roles.where(resource_type: nil).pluck(:name) %></td>
      <td>
        <%= button_to "Remove", account_role_removal_path(@account, user.id), method: :delete, class: "btn btn-sm btn-outline-dark", form: {data: {turbo_confirm: 'Are you sure?'}} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>