<%= form_with model: account, :data => {:turbo => "false"} do |f| %>
  <%= render 'shared/error_messages', resource: account %>

  <div class="form-check form-switch">
    <%= f.check_box :active, class: "form-check-input", id: "flexSwitchCheckweb" %>
    <%= f.label :active,  class: "form-check-label", for: "flexSwitchCheckweb" %>        
  </div>
  <div class="field form-group pb-3">
    <%= f.label "Name" %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Account Name", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.button nil, class: "btn btn-sm btn-outline-dark" do %>
      <i class="bi bi-save pe-1"></i>Save Account
    <% end %>
  </div>

<% end %>
