<div class="container py-3">
  <div class="card mb-3 shadow-lg rounded border">
    <div class="card-body text-dark">
      <div class="row">
        <div class="col">
          <h3>Accounts </h3>
        </div>
        <div class="col text-end">
          <% if policy(:account).new? %>
            <%= link_to new_account_path, class: "btn btn-sm btn-outline-dark" do %>
              <i class="bi bi-plus-circle pe-1"></i>New account
            <% end %>
          <% end %>
        </div>
      </div>

      <table class="table table-sm table-striped">
        <thead class="table-secondary">
          <th>Name</th>
          <th>API Key</th>
          <th>
            <%= link_to accounts_url({all: "#{@search_all == 1 ? '0' : '1'}"}), class: "btn btn-sm btn-outline-dark" do %>
              <i class="bi bi-toggle-<%= "#{@search_all == 1 ? 'on' : 'off'}" %> pe-2"></i>All
            <% end %>
          </th>
        </thead>
        <tbody>
          <% @accounts.each do |account| %>
            <tr <%= "#{!account.active? ? " class=table-warning" : ""}" %> >
              <td><%= account.name %></td>
              <td><%= account.private_api_key %></td>
              <% if policy(:account_role).index? || policy(:account).edit? || policy(:account).destroy? %>
              <td>
                <div class="btn-group">
                  <% if policy(:account).edit? %>
                    <%= link_to edit_account_path(account), class: "btn btn-sm btn-outline-dark" do %>
                      <i class="bi bi-pencil pe-1"></i>Edit
                    <% end %>
                  <% end %>
                  <% if policy(:account).destroy? %>
                    <%= button_to account, method: :delete, class: "btn btn-sm btn-outline-danger", form: {data: {turbo_confirm: 'Are you sure?'}} do %>
                      <i class="bi bi-trash"></i>Delete
                    <% end %>
                  <% end %>
                  <% if policy(:biller).edit? %>
                    <% if account.billers.count == 0 %>
                      <% path = new_account_biller_path(account) %>
                    <% else %>
                      <% path = edit_account_biller_path(account, account.billers.first) %>
                    <% end %>
                    <%= link_to path, class: "btn btn-sm btn-outline-dark" do %>
                      <i class="bi bi-gear pe-1"></i>Settings
                    <% end %>
                  <% end %>
                  <% if policy(:account_role).index? %>
                    <%= link_to account_roles_path(account), class: "btn btn-sm btn-outline-dark" do %>
                      <i class="bi bi-people pe-1"></i>Users
                    <% end %>
                  <% end %>

                </div>
              </td>
              <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>

    </div>
  </div>
</div>

